@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

:root {
  --var-bg-dark: #1c1c1c;
  --var-bg-light: #f5f5f5;
  --var-card-dark: #424241;
  --var-card-light: #e6e6e6;
  --var-btn-dark: #595959;
  --var-btn-green: #afc4af;
  --var-btn-red: #d1aea9;
  --var-btn-grey: #757575;
}

body {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: "DM Sans", sans-serif;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Old versions of Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.body-dark {
  background: var(--var-bg-dark);
  color: white;
}

.body-light {
  background: var(--var-bg-light);
  color: black;
}

h3 {
  font-family: "League Spartan", sans-serif;
}

.card {
  border-radius: 10px;
  padding: 5% 5% 0px 5%;
  margin-bottom: 3%;
  height: 0;

  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: transform;
  transition-property: transform;
  
  display: flex;
  flex-wrap: wrap;
}

.card-bounce:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.card-full {
  width: 82.75vw;
  height: 40vw;
}

.card-fuller {
  width: 92.5%;
}

.card-dark {
  background: var(--var-card-dark);
  color: white;
}

.card-light {
  background: var(--var-card-light);
  color: black;
}

.card-half {
  width: 35vw;
  height: 40vw;
}

.card-nonintrusive {
  margin-bottom: 0;
}

.card-sm {
  height: 15vw;
}

.card-ah {
  height: auto;
}

.np {
  padding: 0;
}

.card-md {
  height: 30vw;
}

.card-lg {
  height: 40vw;
}

.card-filler {
  visibility: hidden;
}

.btn {
  border-radius: 30px;
  border: none;
  padding: 5px 12px 5px 12px;
  font-size: 1em;
  font-family: "DM Sans", sans-serif;
}

.btn-xsm {
  font-size: 0.65em;
  padding: 4px 10px 4px 10px;
}

.btn-sm {
  font-size: 0.7em;
  padding: 8px 12px 8px 12px;
}

.btn-md {
  font-size: 1em;
}

.btn-lg {
  font-size: 1.5em;
  padding: 8px 15px 8px 15px;
}

.btn-dark {
  background: var(--var-btn-dark);
  color: white;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.bottom {
  align-self: flex-end;
  margin-bottom: 12px;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 48%;
}

.w-m-half {
  width: 40%;
}

.btn-green:focus {
  background-color: var(--var-btn-green);
}

.btn-red:focus {
  background-color: var(--var-btn-red);
}

.btn-grey:focus {
  background-color: var(--var-btn-grey);
}

.m-bottom {
  margin: 5px;
  margin-bottom: 0px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--var-btn-green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.space-between {
  justify-content: space-between;
}

.icon {
  height: 65%;
}

.icon-smaller {
  height: 50%;
}

.h-full {
  height: 100%;
}

.h-75 {
  height: 65%;
}

.underline {
  text-decoration: underline;
}

.no-decoration {
  text-decoration: none;
}
